<div class="container">
  <div class="header">
    <h1>welcome to bike berlin</h1>
    <h3>your no. 1 source of used bikes</h3>
  </div><!-- end header -->

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 main-products">
        <h4 class="product-header"> city</h4>
        <%= image_tag("city-bike-home.jpg", class: "img-responsive") %>
        <p class="product-description">check out the most stylish city bikes</p>
        <button type="button" class="btn btn-default">click here</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 main-products">
        <h4 class="product-header"> mountain</h4>
        <%= image_tag("mountain-bike-home.jpg", class: "img-responsive") %>
        <p class="product-description">a wide variety of all-terrain bikes</p>
        <button type="button" class="btn btn-default">click here</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 main-products">
        <h4 class="product-header"> kids</h4>
        <%= image_tag("kids-bike-home.jpg", class: "img-responsive") %>
        <p class="product-description">products for the youngest cyclists</p>
        <button type="button" class="btn btn-default">click here</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 main-products">
        <h4 class="product-header"> road</h4>
        <%= image_tag("road-bike-home.jpg", class: "img-responsive") %>
        <p class="product-description">the best fastestroad bikes</p>
        <button type="button" class="btn btn-default">click here</button>
    </div>
  </div><!-- end row -->
</div><!-- end container -->
