<div class="panel panel-default">
  <div class="panel-body">
    <%= image_tag('thanks.png', class: 'img-responsive') %>
    <p>thanks! we have received your message and will get back to you as soon as possible.</p>
  </div>
  <div class="user-buttons">
    <%= link_to 'back', root_path %>
    <br>
    <br>
  </div>
</div>
