<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      thank you for making a purchase at <%= @appname %>.<br>
      we will do our best to put your order together as soon as possbile!
    </p>
    <br>
    <p>your <strong><%= @appname %> </strong>team</p>
  </body>
</html>
