<table>
  <tbody>
    <tr>
      <td><h2>Welcome to bike berlin</h2></td>
    </tr>
    <tr>
      <td><p>hi! thank you for signing up with <%= @appname %>, hope you enjoy our website.</p></td>
    </tr>
    <tr>
      <td><p>your <strong><%= @appname %></strong>team</p></td>
    </tr>
  </tbody>
</table>
