<table>
  <tbody>
    <tr>
      <td><h2>hi!</h2></td>
    </tr>
    <tr>
      <td><p>thank you for signing up with <%= @appname %>, hope you enjoy our website.</p></td>
    </tr>
    <tr>
      <td><p>your <strong><%= @appname %> </strong>team</p></td>
    </tr>
  </tbody>
</table>
