<div class="container">
  <h2>Editing User</h2>

  <%= render 'form', user: @user %>
  <%= link_to "change your password", edit_user_registration_path %>

  <div class="user-buttons">
    <%= link_to 'show', @user %> |
    <%= link_to 'back', users_path %>
  </div>
</div>
