// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

table {
  width: 70%;
  margin: 0 auto;
}

th, td {
  padding: 30px;
  text-align: center;
}

.product-table td {
  font-size: 14px;
}

.button {
  margin-left: 150px;
}
