// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
  padding: 5px;
}

.button {
  margin-left: 150px;
}


.product-form {
  text-align: center;
}

p {
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
