// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

.button {
  margin-left: 150px;
}

body {
  padding: 10px;
}

.product-form {
  text-align: center;
}

p {
  text-align: center;
}
