// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** General settings ***/
body {
  font-family: 'Source Code Pro', monospace;
  background-color: #FFFFFF;
  color: #193154;
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.header {
  padding: 35px;
  text-align: center;
  font-size: 2em;
}

.container-fluid {
  margin-top: 10px;
}

.container {
  padding-top: 30px;
}

.row {
  margin: 0 auto;
}

.user-buttons a {
  background-color: #FFFFFF;

  &:hover {
    color: #193154;
    background-color: #F5D4DE;
    text-decoration: none;
  }
}

.user-buttons {
  text-align: center;
}


/*** Navigation bar ***/

.navbar {
  background-color: #FBEFF3;
}

.navbar-toggle {
  background-color: #F4D4DF;
}

#brand-logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  line-height: 40px;
}

#login-btn {
  font-weight: 800;
}

.navbar-brand a:hover {
  background-color: #FBEFF3;
}

.nav-pills {
  padding: 5px;
}

.navbar a {
  color: #193154;
}

.nav li a:hover {
  background-color: #F5D4DE;
  padding: 10px;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

@media (max-width: 884px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/*** Signup and login alerts ***/
.alert, .alert-success {
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 80px;
}

/*** Main page - products ***/
.main-products {
  padding: 10px;
  display: block;
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  border: 10px;
}

@media (max-width: 767px) {
  .main-products {
    margin-left: 20%;
  }
}

.btn-default {
  color: #193154;
  background-color: #FBEFF3;
  border-color: #F5D4DE;
}

.btn-default:hover {
  background-color: #F5D4DE;
  border-color: #F5D4DE;
}

.product-description {
  text-align: justify;
}

/*** Carousel ***/

#carousel-example-generic {
  height: 300px;
  margin-top: 20px;
}

.carousel-indicators li {
  background-color: #f9acc3;
  margin-top: 5%;
}

.carousel-indicators .active {
  background-color: #193154;
}

.carousel-caption {
  margin-left: 40%;
  color: #193154;
}

.carousel-control.left {
  background-image: linear-gradient(to right,rgba(232,198,225,.33) 0,rgba(251,240,243,1) 100%);
}

.carousel-control.right {
  background-image: linear-gradient(to left,rgba(232,198,225,.33) 0,rgba(251,240,243,1) 100%);
}

.carousel-img {
  margin-left: 30%;
}

@media (max-width: 965px) {
  .carousel-caption {
    color: #F5D4DE;
    top: 70%;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 0;
  }
}

@media (max-width: 570px) {
  .carousel-img {
    margin-left: 15%;
  }
}


/*** Footer ***/
footer {
  font-weight: bold;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FBEFF3;
}

.img-responsive {
  margin: 0 auto;
}
