<h1 class="heading">Products</h1>

<p>
  <%= link_to 'add new product', new_product_path %>
</p>

  <div class="container-fluid">
  	<div class="row">
  			<%= render @products %>

  	</div><!-- /row -->
  </div>


<br>
