<p id="notice"><%= notice %></p>

<h1 class="heading">Products</h1>

  <div class="container-fluid">
  	<div class="row">
  		<% @products.each do |product| %>
  			<%= render @products %>
      <% end %>
  	</div><!-- /row -->
  </div>


<br>

<%= link_to 'new product', new_product_path, class: 'button' %>
